[submodule "Dog/vendor/spdlog"]
	path = Dog/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dog/vendor/GLFW"]
	path = Dog/vendor/GLFW
	url = https://github.com/Adiprk/glfw
[submodule "Dog/vendor/imgui"]
	path = Dog/vendor/imgui
	url = https://github.com/AdiPrk/imgui
